.educational_resources {
    
    .b-divider {
        height: 2rem;
    }

}

.b-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em #0000001A,
        inset 0 0.125em 0.5em #00000026;
}