.publications {
    .venue-shorthand {
        display:block;
        font-size: 0.9rem;
        margin: 0 0.25rem;
        padding: 2px 5px;
        color: #aaa;
        border: 1px #ddd solid;
        border-radius: 5px;
    }

    ul.link-buttons  {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul.link-buttons li {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    ul.link-buttons li a {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 15%;
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        color: #999;
        background-color: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    ul.link-buttons li a:hover,
    ul.link-buttons li a:focus,
    ul.link-buttons li a:active {
        color: #333;
        /*background-color: #fed136;*/
    }


    ul {
        display: inline-block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    a:not([href]):not([class]) {
        color: #999;
    }

}