<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title == nil %}{{ site.title }}{% else %}{{ page.title }}{% endif %}</title>


    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/academicons.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


  </head>
  <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="0" tabindex="0">

    {{ content }}



    <script>
      // Tooltips
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })

      //Popovers

      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })

      //Popover focus (Will error)
      //var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
      //  trigger: 'focus'
      //})

      


    </script>
  </body>
</html>
